<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save share cards to your photo library</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>instagram</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.vinylplayer.spotify-callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vinylplayer</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
